# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches
*.cache/

# Virtual environment
venv/
env/

# Logs and databases
*.log
db.sqlite3

# Static files
/static/

# Media files
/media/

# Local development settings
local_settings.py

# Secret key file
*.key

# Temporary files
*.swp
*.swo

# IDE settings
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml

# Dependency files
requirements.txt
Pipfile
Pipfile.lock

# Ignore migrations, as they can be different for each developer
**/migrations/

# Ignore local development database settings
**/settings_local.py
